<h1>My photo pages</h1>
{{!-- <div class="picperson"> --}}
<ul>
  {{#each pic}}
  <li data-id="{{_id}}">
<h2 class="title">{{title}}</h2>
  <a href="#pic/{{_id}}"><img src="{{URL}}"></a>
  <p>{{description}}</a>
  </li>
</ul>
</div>
{{/each}}
